@page "/profile"
@using System.Security.Claims
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IProfileViewModel _profileViewModel

<h1>Profile</h1>

<div>
    @_profileViewModel.Username
    <br />
    @_profileViewModel.UserID
</div>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }

    protected async override Task OnInitializedAsync()
    {

        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            var claim = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier);
            var value = claim?.Value;
            _profileViewModel.UserID = Convert.ToInt32(value);
            await _profileViewModel.GetProfileAsync();
        }
        else
        {

        }

    }
}
