@page "/ticker/{tickerName}"
@page "/ticker/{tickerName}/{series}"
@page "/ticker/{tickerName}/{series}/adjusted"
@inject NavigationManager _navigation
@inject HttpClient _httpClient
@using Stocks.Shared.Models

@if (_seriesOk)
{
    <h3>Ticker: @TickerName</h3>
    <Stocks.Client.Components.OHLCChart TickerTimeSeries="TickerTimeSeries" />
    <Stocks.Client.Components.VolumeChart TickerTimeSeries="TickerTimeSeries" />
}
else
{
    <h2>Invalid time series</h2>
}


@code {

    [Parameter]
    public string TickerName { get; set; }

    [Parameter]
    public string Series { get; set; }

    private bool _seriesOk = false;
    private List<string> _correctSeries = new List<string> { "daily", "weekly", "monthly" };

    public List<TickerDataPoint> TickerTimeSeries { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Series = Series?.ToLower();
        _seriesOk = _correctSeries.Contains(Series);

        if (_seriesOk)
        {
            var adjusted = _navigation.Uri.ToLower().Contains("adjusted") ? "/adjusted" : "";
            var uri = $"/api/ticker/{TickerName}/{Series}{adjusted}";
            var tickerInfo = await _httpClient.GetFromJsonAsync<TickerTimeSeries>(uri);
            TickerTimeSeries = tickerInfo.TimeSeries.OrderBy(t => t.Date).ToList();
        }
    }

}
